h1{
  font-size: larger;
}
.title1{
  display: flex;
  justify-content: space-between;
  color:blue
}
a{
  text-decoration: none;
  color: inherit;
}
.link{
  display: flex;
}
.linktag{
  margin-right: 30px;
}
.moji{
  font-size: 70px;
}
main{
  margin-top: 350px;
}
.img1{
  width: 50%;
  height: 30%;
  position: relative;
  bottom: 120%;
  left: 60%;
  
}

.ao{
  background: rgb(0, 0, 118);
  width: 75%;
  height: 200px;
}